<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECHARITY</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}
.bod{
  border: 2px solid;
}
table, td, th {
  border: 1px solid black;
}
.h{
 background-color: blue;
 color: white;
 padding: 11px 45px;
 text-align: center;
 text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.form1{
  width: 60%;
  height: 35px;
}
.btn{
  background-color: green;
  color: white;
  padding: 7px 35px;
}
</style>
<body>
<%- include('./header'); %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"style="background-color: lightgrey;">
      <h3 class="h"> START A CAMPAIGN </h3>
      <center>
        <form method="POST" action="/Upload_Images.html" enctype="multipart/form-data" target="frame" id="uploadItems">
          <label>Select Documents to attach:</label>
          <input type="file" class="form1" name="images" id="images" multiple required /><br>
          <label>Message:</label><br>
          <textarea form="uploadItems" name="msg" id="msg" class="form1"></textarea><br>
          <!-- <input type="text" name="msg"> -->
          <input type="submit" class="btn" name="btn_upload_multiple_images" value="Upload" onclick="uploadButton()"; />
          <div style="display: none" id="frame">
            <br>
            <iframe name="frame"></iframe>
            <br>
          </div>
        </form>
      </center>
        <br>
      <form id="createVoting">
        <label for="cause">Cause OF Fundraise:</label> <br>
        <select name="cause"class="form1" id="cause">
          <option value="1">Education</option>
          <option value="2">Medical</option>
          <option value="3">Financial</option>
          <option value="4">Disaster</option>
          <option value="5">Welfare</option>
          <option value="6">Food</option>
        </select><br>
        <label for="amount">Amount Required:</label><br>
        <input type="number" class="form1" id="amount" step="0.01" min="0" name="amount" value="" required><br>
        <label for="appt">DURATION IN HOURS(For Voting):</label> <BR>
        <input class="html-duration-picker form1" id="Vduration"><br>
        <label for="appt">DURATION IN HOURS(For Funding):</label> <BR>
        <input class="html-duration-picker form1" id="CFduration"><br>
        <label for="appt">UPLOAD DOCUMENTS:</label> <BR>
        <!-- <center><input type="file" id="myFile" name="filename"><BR> -->
        <input type="submit" id="submitRequst" class="btn" value="Submit Your Request" disabled> <br><br>
        <div class="bod" style="background-color: #fff" id="createVoting_msg"><br></div><br></center>
      </form>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3"style="background-color: lightgrey;">
      <h3 class="h">CAMPAIGN STATUS</h3>
      <form id="getVotingStatus">
        <table>
          <colgroup>
           <col span="1" style="width: 50%;">
           <col span="1" style="width: 50%;">
          </colgroup>
          <tbody>
            <tr>
              <td>Votes:</td><td id="positiveVotes">-</td>
            </tr>
            <tr>
              <td>Applied for Amount:</td><td id="VSamount">-</td>
            </tr>
            <tr>
              <td>Reason of Fundraising:</td><td id="VScause">-</td>
            </tr>
            <tr>
              <td>Time Remaining:</td><td id="VSDeadline">-</td>
            </tr>
          </tbody>
        </table><br>
        <input type="submit" class="btn" value="Get Status"> <br><br>
        <center><div class="bod" id="getVotingStatus_msg"><br></div><br></center>
      </form>
      <br>
    </div>
  </div>


</div>
</body>
<%- include('./footer'); %>
<script type="text/javascript">
  function features() {
        init_applyVoting();
        init_getVotingStats();
        console.log("a=",getAccount());
      };
  function presets(){

  }

  function uploadButton() {
    var uploadInput = document.getElementById("images");
    if(uploadInput.value.length > 0)
    {
       document.getElementById("submitRequst").disabled = false
       document.getElementById("frame").style.display = "block";
    }
  }

</script>
</html>