<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECHARITY</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}
.bod{
  border: 2px solid;
}
.h{
 background-color: blue;
 color: white;
 padding: 11px 45px;
 text-align: center;
 text-decoration: none;
}
.btn{
  background-color: green;
  color: white;
  width: 70%;
}
</style>
<body>

  <%- include('./header'); %>

  <div class="container text-center">
    <div style = "background-color: darkgrey;margin-left:25%;" class="col-md-6" >
      <h2 class="h"> ORGANIZATIONS </h2> 
      <div id="orgsRows">
      </div>
     <form id="getCurrentOrgs">
      <input type="submit" class="btn" value="List All Organizations"> <br><br>
      <div class="bod" id="getCurrentOrgs_msg"><br></div><br> 
     </form>
   </div>
 </div>


 <br>
 <%- include('./footer'); %>
</body>
<script type="text/javascript">
  function features() {
        init_currentOrgs();
      };
  function presets(){

  }
</script>
</html>
