<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECHARITY</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}
.bod{
  border: 2px solid;
}
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.form1{
  width: 60%;
  height: 35px;
}
.btn{
  background-color: green;
  color: white;
  padding: 7px 35px;
}
</style>
<body>

  <%- include('./header'); %>

</body>
<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"style="background-color: darkgrey;padding: 62px 29px;">
      <h3> ACTIVE CAMPAIGNS </h3>
      <BR>
      <DIV CLASS ="row">
        <table>
          <tr>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
          </tr>
        </table>
      </DIV> <br>
      <DIV CLASS ="row">
        <table>
          <tr>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
            <td>Student Fee Collected 50% Time Left 2 Days</td>
          </tr>
        </table>
      </DIV>
      <h3>PROJECTS COMPLETED</h3>
      <BR>
      <DIV CLASS ="row">
        <table>
          <tr>
            <td>Student Fee Collected 500 </td>
            <td>Student Fee Collected 500 </td>
            <td>Student Fee Collected 500 </td>

          </tr>
        </table>
      </DIV>
    </div>
  </div>
</div>
<%- include('./footer'); %>
</html>