<!DOCTYPE html>
<html lang="en">
<head>
  <title>CREATE ORGANIZATION</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}

</style>

<body>

  <%- include('./header'); %>

  <div class="container text-center">
    <div class="col-md-6 myForm">
    <h3 class="h">CREATE ORGANIZATION</h3>
    <form id="createOrg">
      <label for="orgName">Organization Address:</label><br>
      <input type="text" class="form-control" name="orgAddress" id="orgAddress" required>
      <label for="orgName">Organization Name:</label><br>
      <input type="text" class="form-control" name="orgName" id="orgName" required><br>
      <center>
        <input type="submit" class="btn btn-primary" value="Submit Your Request"> <br><br>
        <div class="alert-info form-control" id="createOrg_msg"><br></div><br>
      </center>
    </form>
    </div>
  </div>
  <%- include('./footer'); %>
</body>
<script type="text/javascript">
  function features() {
        init_createOrg();
      };
  function presets(){

  }
</script>
</html>
