<!DOCTYPE html>
<html lang="en">
<head>
  <title>DONATE TO INDIVIDUAL</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}
</style>

<body>
<%- include('./header'); %>
<div class="container text-center">
    <div class="col-md-6 myForm" >
       <h4 class="h"> DONATE TO INDIVIDUAL</h4>
       <form id="donateToIndividual">
        <label for="amount">Enter Amount:</label><br>
        <input type="number" class="form-control" id="amount" step="0.01" min="0" name="amount" value=""><br>
        <label for="amount">Account No</label><br>
        <input type="text" class="form-control" id="account" name="account" value=""><br>
        <input type="submit" class="btn btn-primary" value="Submit"> <br>
      </form> <br>
      <center><div class="alert-info form-control" id="msg"><br></div><br></center>
    </div>

</div>
<br>
</body>
<%- include('./footer'); %>
<script type="text/javascript">
  function features() {
        init_donateToIndividual();
      };
  function presets(){

  }

</script>
</html>
