<!DOCTYPE html>
<html lang="en">
<head>
  <title>DONATE TO ORGNAIZATION</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>

<body>
  <%- include('./header'); %>
  <input type="hidden" name="orgAddress" id="orgAddress" value="<%= orgAddress %>">
  <div class="container text-center">

      <div class="col-md-6 myForm">
        <h4 class="h"> DONATE TO ORGNAIZATION </h4>
        <label for="amount">Enter Amount:</label><br>
        <input type="number" class="form-control" id="orgContributeAmount" step="0.01" min="0" name="amount" value="<%= amount %>" required><br>
        <label for="Org">Select Orgnaization:</label> <br>
        <select name="Org"class="form-control" id="orgsList">
        </select><br>
        <form id="populateOrgs">
          <input type="submit" class="btn btn-primary" value="Populate Orgnaization List"> <br>
        </form>
        <br>
        <form id="orgContribute">
          <input type="submit" class="btn btn-primary" value="Donate"> <br>
        </form> <br>
        <center><div class="alert-info form-control" id="org_msg"><br></div><br></center>
      </div>



    <br>

      <div class="myForm col-md-6">
        <h2 class="h" id="org_name">-</h2>

        <form class="form-inline">
          <table>
            <tr>
              <td><label>TOTAL COLLECTED:</label></td>
              <td><input class="alert-info form-control" type="number" placeholder="" name="amount" id="org_totalCollected" disabled></td>
            </tr>
            <tr>
              <td><label>TOTAL DISTRIBUTED:</label></td>
              <td><input class="alert-info form-control" type="number" placeholder="" name="amount" id="org_totalDistributed" disabled></td>
            </tr>
            <tr>
              <td><label>BALANCE:</label></td>
              <td><input class="alert-info form-control" type="number" placeholder="" name="amount" id="org_balanceAmount" disabled></td>
            </tr>
            <tr>
              <td><label>ADDRESS:</label></td>
              <td><input class="alert-info form-control" type="text" placeholder="" name="amount" id="org_address" disabled></td>
            </tr>
          </table>
        </form> 
        <br>
        <form id="updateWalletStats">
          <input type="submit" class="btn btn-primary" value="Update Stats"> <br><br>
          <center><div class="alert-info form-control" id="wallet_msg"><br></div><br></center>
        </form>
      </div>


    <br>

 
      <div class="myForm col-md-6">
        <h4 class="h">CREDIT</h4>
        <table>
          <thead>
            <th>FROM</th>
            <th>AMOUNT</th>
            <th>TIME</th>
          </thead>
          <tbody id="creditTbl">
          </tbody>
        </table>
        <BR>
      </div>
<br>

      <div class="myForm col-md-8">
        <h4 class="h">DEBIT</h4>
        <table>
          <thead>
            <th>TO</th>
            <th>AMOUNT</th>
            <th>METHOD</th>
            <th>TIME</th>
            <th>DOCS</th>
          </thead>
          <tbody id="debitTbl">
          </tbody>
        </table>
        <BR>
      </div>


  </div>
  <br>
</body>
<%- include('./footer'); %>
<script type="text/javascript">
  function features() {
    init_donateToOrg();
    init_updateTransactionStats();
    const event = document.createEvent('Event');
    event.initEvent('submit', true, true);
    document.getElementById("populateOrgs").dispatchEvent(event);
    document.getElementById("updateWalletStats").dispatchEvent(event);
  };
  function presets(){

  }

  document.getElementById("orgsList").addEventListener('change', (e) =>{
    const event = document.createEvent('Event');
    event.initEvent('submit', true, true);
    // document.getElementById("populateOrgs").dispatchEvent(event);
    document.getElementById("updateWalletStats").dispatchEvent(event);
  });

</script>
</html>
