<br>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left" style="background: linear-gradient(to bottom,#999,#000000);">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase fot">E-CHARITY & ZAKAKT</h5>
        <p style="color:#58b9e4"> Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:#58b9e4">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a  class ="fot" href="#!">HOME</a>
          </li>
          <li>
            <a class ="fot" href="#!">DONATE</a>
          </li>
          <li>
            <a class ="fot" href="#!">ZAKAT</a>
          </li>
          <li>
            <a class ="fot"  href="#!">ORGNAIZATIONS</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase" style="color:#58b9e4">FOLLOW US</h5>

        <ul class="list-unstyled">
          <li>
            <a class="fa fa-facebook fot" href="#!"></a>
          </li>
          <li>
            <a class="fa fa-instagram fot" href="#!"></a>
          </li>
          <li>
            <a class="fa fa-youtube fot" href="#!"></a>
          </li>
          <li>
            <a class="fa fa-twitter fot"  href="#!"></a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center mx-3 "style="background-color: #999;" >© 2020 Copyright:
    <a class="fot" href="#" >E-CHARITY & ZAKAKT</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->