<nav class="navbar navbar-inverse">
  <div class="container-fluid"style="background: linear-gradient(to bottom,#999,#000000);" >
    <div class="navbar-header">
      <a class="navbar-brand" href="Home.html">E-CHARITY & ZAKAKT</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
            <li><a href="Donate.html">DONATE</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> FUNDRAISING<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="Active_Campaigns.html">ACTIVE CAMPAIGNS</a></li>
          <li><a href="Fundraising.html">START A CAMPAIGN</a></li>
        </ul>
      </li>
            <li><a href="Zakat.html">ZAKAT</a></li>
            <li><a href="Orgnaization.html">ORGNAIZATIONS</a></li>
            <li><a href="Welfare.html">WALLET</a></li>
      <li class="dropdown"><a class="dropdown-toggle glyphicon glyphicon-log-in" data-toggle="dropdown" href="#"> SignIn<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="Login.html">As Organization</a></li>
          <li><a href="Login.html">As Individual</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>