<style>
.admin,.org{
  display: none;
}

.h{
  background-color: #337ab7;
  color: white;
  border-radius: 4px;
  padding: 11px 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.myForm{
    background: #fff;
   /* background: rgb(34,195,54);
background: radial-gradient(circle, rgba(34,195,54,0.10213592272846639) 0%, rgba(45,186,253,0.10213592272846639) 100%);*/
    padding: 2em 1.5em 1em;
/*    margin-top: 2em;
    margin-bottom: 3em;*/
    border: 1px solid #55c5c5;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin:0 auto;
}

.box {
 color: #055160;
 background-color: #cff4fc;
 border-color: #b6effb;
 border-radius: 4px;
 padding: 5px ;
 width: min-content;
 margin-right: 6px;
 margin-left: 6px;
}

a{
   text-decoration: none;
}

@media (max-width: 767px) /* @grid-float-breakpoint -1 */
{
    .fixed-top
    {
    position: relative;
    top: auto;
    }
}

</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark mt-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="Home.html">E-CHARITY & ZAKAT</a>
    </div>

     <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
         <div class="input-group" style="width: 350px">
          <input type="text" class="form-control bg-dark text-white" placeholder="Account" id="currentAccount" value="<%= account %>" disabled >
          <span class="input-group-text bg-dark text-white" id="userTypeText">-</span>
    </div>
      </li>
     </ul>
   
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="Donate.html">DONATE</a></li> -->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            DONATE
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="Donate_Organization.html">DONATE TO ORGANIZATION</a></li>
          <li><a class="dropdown-item" href="Donate_Individual.html">DONATE TO INDIVIDUAL</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FUNDRAISING
          </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="Active_Campaigns.html">ACTIVE CAMPAIGNS</a></li>
          <li><a class="dropdown-item" href="Fundraising.html">START A CAMPAIGN</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Zakat.html">ZAKAT</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="Active_Organizations.html">ACTIVE ORGNAIZATIONS</a>
      </li>

      <li class="dropdown org" style="display:none">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ORGANIZATION PANEL
          </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="Organization_Dashboard.html">DASHBOARD</a></li>
          <li><a class="dropdown-item" href="Vote.html">VOTE FOR A CAMPAIGN</a></li>
        </ul>
      </li>

      <li class="admin nav-item" style="display:none">
        <a class="nav-link" href="Create_Organization.html">ADMIN PANEL</a>
      </li>

      <li class="nav-item">
        <a href="set_session" class="nav-link" > <span class="sign-in-alt"></span> Sign In</a>
      </li>

    </ul>
  </div>
</nav>
<div>
  <!-- <input type="hidden" name="currentAccount" id="currentAccount" value="<%= account %>"> -->
  <input type="hidden" name="rate" id="rate" value="<%= rate %>">
  <input type="hidden" name="userType" id="userType" value="<%= userType %>">
</div>
<br><br><br><br>
<script type="text/javascript">
  // <!-- document.addEventListener('DOMContentLoaded', () => { -->
    var userType = document.getElementById("userType").value;
    console.log("userType = ",userType);
    var adminTags = document.getElementsByClassName("admin");
    var orgTags = document.getElementsByClassName("org");
    var userTypeText = document.getElementById("userTypeText");

    if(userType == 1){
      userTypeText.innerHTML = "Organization";
      for(var i = 0; i < orgTags.length; i++){
        orgTags[i].style.display = "block";
      }
    }else if(userType == 2){
      userTypeText.innerHTML = "Admin";
      for(var i = 0; i < adminTags.length; i++){
        adminTags[i].style.display = "block";
        
      }
    }else if(userType == 3){
      userTypeText.innerHTML = "Admin + Organization";
      for(var i = 0; i < orgTags.length; i++){
        orgTags[i].style.display = "block";
      }
      for(var i = 0; i < adminTags.length; i++){
        adminTags[i].style.display = "block";
      }
    }
  // });
</script>