<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECHARITY</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}

.btn{
  background-color: green;
  color: white;
  padding: 11px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
</style>
<body>

<%- include('./header'); %>

   <div class ="container-fluid" >
    <div class="container text-center">
    <div class="row">
      <div class="col-md-4"style=top:80px;>
        <h2> AND WHATEVER <BR>GOOD YOU SPEND <BR> IS FOR YOURSELF. </h2>
          <a href="" class="btn btn-sucess btn">DONATE NOW </a> <BR><BR>
          <a href="Fundraising.html" style="color:green;"> <h5>CREATE A PROJECT </h5></a>
      </div>
           <div class="col-md-8">
            <img src="abc.png"  width="707" height="353">
      </div>
       <h3 style="color:green;">Don't worry funds will be sent where you want.<br>You are using the most secure, decentrillized platform based <br> on novel block-chain Technology.</h3>
    </div>
  </div>
</div>

</body>
<%- include('./footer'); %>
</html>
