<!-- <!DOCTYPE html>
<html>
<head>
  <title>Create Crowd Funding</title>
  <script src="./ext/web3.js"></script>
</head>
<body>-->
  <%- include('./header'); %>
  <div class="mt-2 mb-2"> 
    <center>
      <h1>Intreract with Organization</h1>
    </center>
    <center class="containerBox">
      <h3 id="YAHead">Your Account</h3>
      <div id="currentAccount"><%= account %></div> 
    <div>Rate (wei) per Rupee: <span id="rate"><%= rate %></span></div>
      <br> 
      <a href="set_session?change=1">Change</a>
    </center>
  </div>


  <div id="interactWithOrgs" class="containerBox">
    <h3>Intreract with Organization</h3>

    <!-- <label>Crowd Funding Address: </label> -->
    <!-- <input type="text" name="CFAddress" id="CFAddress" required> -->

    <form id="updateOrgStats">
      <label>Organization Address: </label>
      <input type="text" name="orgAddress" id="orgAddress" required value="<%= orgAddress %>">
      <button type="submit">Update Stats</button><br>
      <center>
        <table border="2">
          <tr>
            <td>Organization Name</td> <td><span id="org_name"></span></td>
          </tr>
          <tr>
            <td>Accepting Zakat</td> <td><span id="org_zakat"></span></td>
          </tr>
          <tr>
            <td>Balance Amount</td> <td><span id="org_balanceAmount"></span></td>
          </tr>
        </table>
      </center>
    </form>

    <form id="orgContribute" class="containerBox">
      <input type="number" name="contributeAmount" id="orgContributeAmount">
      <button type="submit">Contribute</button>
      <div id="orgContribute_msg"></div>
    </form>

    <form id="orgWithdraw" class="containerBox">
      <input type="number" name="withdrawAmount" id="withdrawAmount">
      <button type="submit">Withdraw Funding</button>
      <div id="orgWithdraw_msg">...</div>
    </form>

    <div id="interactWithOrgs_msg"></div>
  </div>




  <script type="text/javascript">
    function presets() {
      accountSelectorEnabled = false;
    };
    function features() {
      console.log("account=",account);
      init_interactWithOrgs();
    };
  </script>


<!-- </body>
  </html> -->
  <%- include('./footer'); %>