<!-- <!DOCTYPE html>
<html>
<head>
	<title>Session</title>
	<script src="./ext/web3.js"></script>
</head> -->
<!-- <%- include('./header'); %> -->
<body>
	<script src="./ext/web3.js"></script>
	<center class="containerBox">
        <h3>Accounts</h3>
		<select id="selectAccount">
		   <!-- <option>Choose an Account</option> -->
		</select><br>
		<h3 id="YAHead">Your Account</h3>
		<form action="set_session" method="POST">
			<input type="text" name="yourAccount" id="yourAccount" style="width: 390px"><br>
			<input type="submit" name="submit" value="Select" autofocus>
		</form>
		<div>Balance: <span id="balance"></span></div>
		<div>Rate (wei) per Rupee: <span id="rate"><%= rate %></span></div>
		<div>Balance: <span id="balancePKR"></span> PKR</div>
	</center>

	<script type="text/javascript">
		function presets() {
		  accountSelectorEnabled = false;
		};
		function features() {
			
		};
	</script>
	
</body>
</html>