<!DOCTYPE html>
<html lang="en">
<head>
	<title>SIGN IN</title>
	<%- include('./head'); %>
</head>
<style>
.fot{
	color: white;
}
.bod{
	border: 2px solid;
}
table, td, th {
	border: 1px solid black;
}

table {
	width: 100%;
	border-collapse: collapse;
}
.form1{
  width: 60%;
  height: 35px;
}
/*.btn{
	background-color: green;
	color: white;
	padding: 7px 35px;
}*/


</style>
<body > 
	<%- include('./header'); %>
<div class="d-flex">
	<div class="container text-center">
		<div  class="col-md-5 myForm " >
			<center>
				<h3 class="h">Select Your Account</h3>
				<select class="form-control" id="selectAccount" >
				</select>
				
				<h3 id="YAHead">Your Account</h3>
				<form action="set_session" method="POST" class="form-group">
					<input type="text" class="form-control" name="yourAccount" id="yourAccount"><br>
					<input type="submit" class="btn btn-primary" name="submit" value="Select" autofocus>
				</form>
				<br>
				<label>Details:</label>
				<div class="alert-info form-control my-1"><b>Balance: </b><span id="balance"></span><b> ETH</b></div>
				<!-- <br> -->
				<div class="alert-info form-control" ><b>Balance: </b><span id="balancePKR"></span><b> PKR</b></div>
				<br>
			</div>
		</div>
</div>
	</center>

	<script type="text/javascript">
		function presets() {
			accountSelectorEnabled = false;
		};
		function features() {
			
		};
	</script>
	
</body>
<%- include('./footer'); %>
</html>