.fot{
  color: white;
}
.bod{
  border: 2px solid;
}
table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.form1{
  width: 60%;
  height: 35px;
}
.btn{
  background-color: green;
  color: white;
  padding: 7px 35px;
}

/*.btn{
  background-color: green;
  color: white;
  width: 70%;
}*/

.box {
 background: #fff;
 border-radius: 4px;
 padding: 5px ;
 width: min-content;
}
.col-lg-2 {
 margin: 5px !important;
}

.h{
 background-color: blue;
 color: white;
 padding: 11px 45px;
 text-align: center;
 text-decoration: none;
}