<!DOCTYPE html>
<html lang="en">
<head>
  <title>ECHARITY</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}
.bod{
  border: 2px solid;
}
table, td, th {
  border: 1px solid black;
}
.h{
 background-color: blue;
 color: white;
 padding: 11px 45px;
 text-align: center;
 text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.form1{
  width: 60%;
  height: 35px;
}
.btn{
  background-color: green;
  color: white;
  padding: 7px 35px;
}
</style>
<body>
<%- include('./header'); %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3"style="background-color: darkgrey;">
      <h3 class="h"> VOTE FOR CAMPAIGN </h3>
      <form id="doVote">
        <label for="canidateAddress">Address:</label> <br>
        <input type="text" class="form1" id="canidateAddress" name="canidateAddress" value="<%= canidateAddress %>" required><br>
        <label for="appt">Your Choice:</label> <BR>
        <label>Yes:</label>
        <input type="radio" name="voteAgree" id="voteAgree" value="1" checked>
        <label>No:</label>
        <input type="radio" name="voteAgree" id="voteAgree" value="0">
        <br>
        <input type="submit" class="btn" value="Submit Your Choice"> <br><br>
        <center><div class="bod" style="background-color: #fff" id="doVote_msg"><br></div><br></center></center>
      </form>
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3"style="background-color: darkgrey;">
      <h3 class="h">CAMPAIGN STATUS</h3>
      <form id="getVotingStatus">
        <table>
          <colgroup>
           <col span="1" style="width: 50%;">
           <col span="1" style="width: 50%;">
          </colgroup>
          <tbody>
            <tr>
              <td>Votes:</td><td id="positiveVotes">-</td>
            </tr>
            <tr>
              <td>Applied for Amount:</td><td id="VSamount">-</td>
            </tr>
            <tr>
              <td>Reason of Fundraising:</td><td id="VScause">-</td>
            </tr>
            <tr>
              <td>Time Remaining:</td><td id="VSDeadline">-</td>
            </tr>
          </tbody>
        </table><br>
        <input type="submit" class="btn" value="Get Status"> <br><br>
        <center><div class="bod" id="getVotingStatus_msg"><br></div><br></center>
      </form>
      <br>
    </div>
  </div>


</div>
</body>
<%- include('./footer'); %>
<script type="text/javascript">
  function features() {
        init_doVote();
        init_getVotingStats("canidateAddress");
      };
  function presets(){

  }

</script>
</html>