<!-- <!DOCTYPE html>
<html>
<head>
	<title>Apply For Voting</title>
  <script src="./ext/web3.js"></script>
</head>
<body> -->
<%- include('./header'); %>
	<div class="mt-2 mb-2">
	<center>
		<h1>Vote</h1>
	</center>
	<center class="containerBox">
          <h3 id="YAHead">Your Account</h3>
          <div id="currentAccount"><%= account %></div> 
          <br> 
          <a href="set_session?change=1">Change</a>
        </center>
</div>


<form id="doVote" class="containerBox">
  <h3>Vote</h3>
  <label>Address:</label>
  <input type="text" name="canidateAddress" id="canidateAddress" value="<%= canidateAddress %>" required>
  <br>
  <label>Do You agree:</label>
  <input type="checkbox" name="voteChoice" id="voteChoice" required>
  <br>
  <button type="submit">Vote</button>
  <div id="doVote_msg"></div>
</form>



<center>
  <div><%- images %></div>
</center>

    <script type="text/javascript">
    function presets() {
      accountSelectorEnabled = false;
    };
		function features() {
	      init_doVote();
        console.log("account=",account);
    	};
	</script>




<!-- </body>
</html> -->
<%- include('./footer'); %>