<!DOCTYPE html>
<html lang="en">
<head>
  <title>VOTE</title>
  <%- include('./head'); %>
</head>
<style>
.fot{
  color: white;
}

table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
}

</style>
<body>
  <%- include('./header'); %>

  <div class="container text-center">
    <div class="col-md-6 myForm">
      <h3 class="h"> VOTE FOR CAMPAIGN </h3>

      <label for="canidateAddress">Address:</label> <br>
      <input type="text" class="form-control" id="canidateAddress" name="canidateAddress" value="<%= canidateAddress %>" required><br>
      <label>All Voting List:</label> <br>
      <select name="votingList"class="form-control" id="votingList">
      </select><br><br>
      <form id="populateVotingList">
        <input type="submit" class="btn btn-primary" value="Populate Voting List"> <br>
      </form>
      <br>
      <form id="viewDocs">
        <input type="submit" class="btn btn-primary" value="View Documents"> <br><br>
      </form>
      <label for="appt"><b>Your Choice:</b></label> <BR>
      <label>Yes:</label>
      <input type="radio" name="voteAgree" id="voteAgree" value="1" checked>
      <label>No:</label>
      <input type="radio" name="voteAgree" id="voteAgree" value="0">
      <br>
      <form id="doVote">
        <input type="submit" class="btn btn-primary" value="Submit Your Choice"> <br><br>
        <center><div class="alert-info form-control" id="doVote_msg"><br></div><br></center></center>
      </form>
      <br>
    </div>

    <br>

      <div class="col-md-6 myForm">
        <h3 class="h">CAMPAIGN STATUS</h3>
        <form id="getVotingStatus">
          <table>
            <colgroup>
             <col span="1" style="width: 50%;">
             <col span="1" style="width: 50%;">
           </colgroup>
           <tbody>
            <tr>
              <td>Votes:</td><td id="positiveVotes">-</td>
            </tr>
            <tr>
              <td>Applied for Amount:</td><td id="VSamount">-</td>
            </tr>
            <tr>
              <td>Reason of Fundraising:</td><td id="VScause">-</td>
            </tr>
            <tr>
              <td>Time Remaining:</td><td id="VSDeadline">-</td>
            </tr>
          </tbody>
        </table><br>
        <input type="submit" class="btn btn-primary" value="Get Status"> <br><br>
        <center><div class="alert-info form-control" id="getVotingStatus_msg"><br></div><br></center>
      </form>
      <br>
    </div>

</div>
</body>
<%- include('./footer'); %>
<script type="text/javascript">
  function features() {
    init_doVote();
    init_getVotingList();
    init_getVotingStats("canidateAddress");
    const event = document.createEvent('Event');
    event.initEvent('submit', true, true);
    document.getElementById("populateVotingList").dispatchEvent(event);
  };
  function presets(){

  }

  document.getElementById("votingList").addEventListener('change', (e) =>{
    document.getElementById("canidateAddress").value = document.getElementById("votingList").value;
  });

  document.getElementById("viewDocs").addEventListener('submit', (e) =>{
    e.preventDefault();
    var addr = document.getElementById("canidateAddress").value;
    if(addr.length >= 42){
      window.open("View_Images.html?address="+addr, '_blank').focus();
    }
  });

</script>
</html>